.mov {
	--padding: 16px;
	display: flex;
	flex-direction: column;
	margin: 16px 0;
	padding-top: var( --padding );
	position: relative;
}
.mov__imagen {
	--offset: 26px;
	background-color: var( --theme-primary );
	border-radius: 100%;
	height: 100px;
	left: 0;
	margin: 0 auto;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}
.mov__imagen img {
	border: 3px solid #fff;
	border-radius: 100%;
}
.mov__encabezado {
	align-items: center;
	background-color: var( --theme-primary );
	border-radius: 10px 10px 0 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	grid-column: 3 / 4;
	height: calc( var( --cut ) / 2 );
	justify-content: center;
	margin-top: 50px;
	padding-bottom: 20px;
	padding-top: 30px;
}
.mov__nombre {
	border-radius: 0 10px 0 0;
	font-family: 'Exo 2';
	font-size: 1.2em;
}
.mov__etiquetas {
	display: flex;
}
.mov__etiqueta {
	align-items: center;
	background-color: #00000099;
	border-radius: 5px;
	column-gap: 6px;
	display: flex;
	font-size: 0.85em;
	margin: 2px 5px;
	padding: 1px 6px;
}
.mov__descripción {
	border: 1px solid var( --theme-primary );
	border-bottom: 0;
	border-top: 0;
	padding: 16px;
}
.mov__descripción p {
	margin-bottom: 0;
}
ul.mov__stats {
	border: 1px solid var( --theme-primary );
	border-radius: 0 0 10px 10px;
	border-top: 0;
	column-count: 2;
	list-style: none;
	margin: 0;
	padding: 8px;
}
.mov__stat {
	--color: #fff;
	--length: calc( 100% - 55px );
	background-image: linear-gradient(135deg, var( --color ), var( --color ) var( --length ), var( --theme-primary ) var( --length ), var( --theme-primary ) );
	border: 1px solid var( --theme-primary );
	border-radius: 5px;
	border-right: 0;
	display: flex;
	font-family: 'Exo 2';
	margin-bottom: 8px;
}
.theme-fandommobile-dark .mov__stat {
	--color: rgba( 0, 0, 0, 0.35 );
}
.mov__stat:first-child:last-child {
	column-span: all;
}
.mov__stat b {
	flex-grow: 1;
	padding: 0 16px;
}
.mov__stat span {
	color: #fff;
	flex-basis: 50px;
}